{% extends 'base.html' %}

{% block content %}

<a href="{% url 'complete_workout' workout.id%}"><button>Complete this workout</button></a>

<div class="">
    <h1 class="text-center my-4">{{routine.name}}</h1>
    <h3 class="text-center">{{routine.type}} Activity
        {%if routine.type == 'Cardio'%}
        🏃🏃‍♀️
        {%else%}
        💪
        {%endif%}
    </h3>
    <p class="fs-5 text-center my-5">{{routine.details}}</p>   
        

             
    <h3 class="text-center">Exercises</h3>
    <div class='mx-auto text-left w-50'>
        <hr></hr>
    {%for exercise in routine.exercises.all%}
        <div class="my-4">
            <h4 class="">{{ exercise.name }}</h4>
            {%if routine.type == 'Cardio'%}
                <p>Time: {{exercise.time}}</p>
                <p>Distance: {{exercise.distance}} meters</p>
                <p>Notes: {{exercise.notes}}</p>
            {%else%}
                <p>Sets: {{exercise.sets}}</p>
                <p>Reps: {{exercise.reps}} </p>
                <p>Weight: {{exercise.weight}} lbs</p>
                <p>Notes: {{exercise.notes}}</p>
            
            {%endif%}
            <hr></hr>
        </div>
        
    {%endfor%}
    </div>

</div>


{% endblock %}