{% extends 'base.html' %}
{% block content %}
<h1 class="py-3 text-center ">
    My Workout Routines
</h1>
<div class="container mt-5"style="background-color: #E5FCFF;">
    <div class="row">
        <div class="col border border-secondary border-2 d-flex align-items-center justify-content-center">
          <p class="fs-3 text-center  mb-0 py-2">Name</p>
          <a href="routines/add"><button class='btn btn-secondary ms-2 my-2'>+</button></a>
        </div>
        <div class="col border border-secondary border-2 ">
          <p class="fs-3 text-center mb-0 py-2">Type</p>
        </div>
        <div class="col border border-secondary border-2 ">
          <p class="fs-3 text-center mb-0 py-2">Details</p>
        </div>
    </div>
    {%for routine in routines%}   
    <a class="text-black text-decoration-none"href="routines/{{routine.id}}">
    <div class="row  ">
      <div class="col border border-secondary border-2  d-flex align-items-center justify-content-center">
        <p class="fs-5 mb-0 py-2" >{{routine.name}}</p>
      </div>
      <div class="col border border-secondary border-2  d-flex align-items-center justify-content-center ">
        <p class="fs-5 mb-0 py-2">{{routine.type}}</p>
      </div>
      <div class="col border border-secondary border-2 mb-0 py-2 d-flex align-items-center justify-content-center ">
        <p >{{routine.details}}</p>
      </div>
    </div>
    </a>
    {%endfor%}
    
</div>

            
{% endblock %}