{% extends 'base.html' %}
{% block content %}
    <div class="">
        <h1 class="text-center my-4">{{routine.name}}</h1>
        <h3 class="text-center">{{routine.type}} Activity
            {%if routine.type == 'Cardio'%}
            🏃🏃‍♀️
            {%else%}
            💪
            {%endif%}
        </h3>
        <p class="fs-5 text-center my-5">{{routine.details}}</p>   
        <div class="mx-auto w-50 py-2 pb-5 d-flex justify-content-around">

            <a href="edit"><button class="btn btn-info">Edit</button></a>
            <button type="button" class="btn btn-danger d-inline-block text-right me-0" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Delete
              </button>
            </div>
            
    
                 
        <h3 class="text-center">Exercises</h3>
        <div class='mx-auto text-left w-50'>
            <hr></hr>
        {%for exercise in routine.exercises.all%}
            <div class="my-4">
                <h4 class="">{{ exercise.name }}</h4>
                {%if routine.type == 'Cardio'%}
                    <p>Time: {{exercise.time}}</p>
                    <p>Distance: {{exercise.distance}} meters</p>
                    <p>Notes: {{exercise.notes}}</p>
                {%else%}
                    <p>Sets: {{exercise.sets}}</p>
                    <p>Reps: {{exercise.reps}} </p>
                    <p>Weight: {{exercise.weight}} lbs</p>
                    <p>Notes: {{exercise.notes}}</p>
                
                {%endif%}
                <hr></hr>
            </div>
            
        {%endfor%}
        </div>
        
          <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Delete Routine</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                <p>Are you sure you want to delete the <span class='text-secondary'>{{routine.name}}</span> workout routine?</p>
                </div>
                <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Go back</button>
                <a href="delete"><button class="btn btn-danger">Delete</button></a>
                </div>
            </div>
            </div>
        </div>
    </div>
   
{% endblock %}
