{% extends 'base.html' %}
{% block content %}
    <h1 class="text-center p-3">Dashboard</h1>
    <div class="d-flex mx-auto w-75 flex-wrap  justify-content-center">
        <a href="{% url 'workout' %}"class=' text-primary text-decoration-none bg-secondary rounded-pill border-2 border-black border m-4 d-flex align-items-center justify-content-center'style="width:350px;height:100px"><h2 >Workouts</h2></a>
        <a href="{% url 'calendar' %}" class='text-primary text-decoration-none bg-secondary rounded-pill border-2 border-black border m-4 d-flex align-items-center justify-content-center'style="width:350px;height:100px"><h2 >Calendar</h2></a>
    </div>
    <div class="d-flex mx-auto w-75 flex-wrap justify-content-center">
        <a href="{% url 'goals' %}" class='text-primary text-decoration-none bg-secondary rounded-pill border-2 border-black border m-4 d-flex align-items-center justify-content-center'style="width:350px;height:100px"><h2 >Goals</h2></a>
        <a href="{% url 'profile' %}" class='text-primary text-decoration-none bg-secondary rounded-pill border-2 border-black border m-4 d-flex align-items-center justify-content-center'style="width:350px;height:100px"><h2 >Profile</h2></a>
    </div>



{% endblock %}